<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">


    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/blog.css" rel="stylesheet">

	 <link href="/assets/breadcrumb-style.css" rel="stylesheet">
	 <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	 <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  </head>